* , *:after, *:before {
	margin: 0;
	padding: 0
}


body{
	font-family: Arial;

}


/* Start Navbar */
.navbar-default {
    background: none;
    border: none;
}

.navbar-default .navbar-brand {
    color: #a67ecf;
    text-transform: uppercase;
   	font-weight: bold;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #a67ecf;
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #a67ecf;
}
/* Start Navbar */


/* Start section about */
.about{
	width: 100%;
	height: auto;
	padding: 50px 0 ;
}

.about h1 ,.product h1 {
	font-size: 2em;
	color: #a67ecf;
	font-weight: bold;
	margin-bottom: 2%;
}

.about p , .product p{
	line-height: 1.8;
	color: #888;
	margin-bottom: 7%;
	
}


.about img{
	width: 100%;
	margin-bottom: 2%;
	
}


.about .img{
	background-image: url("../images/image-03.jpg");
	height: 375px;
	background-size: cover;
	position: relative;
	margin: 2%;
}


.about .img p{
	position: absolute;
	bottom: 0;
	color: #f9f9f9;
	padding: 20px;
	margin: 0;
	background: rgba(0,0,0,0.5);
	font-size: 20px;
}



/* end section about */


/* Start section service */
.service{
	margin-top: 7%;
	width: 100%;
	height: 400px;
	background-image: url(../images/image-05.jpg);
	background-attachment: fixed;
	text-align: center;
	
}
.service p{
	font-size: 20px;
	color: #fff;
	border: 4px solid #FFF;
	padding: 25px;
	display: inline-block;
	margin-top: 15%;
	text-transform: uppercase;
	font-weight: bold;

}



/* End section service */


/* start section product  */
.product{
	width: 100%;
	height: auto;
	padding: 50px o;

}
.product img{
	width: 100%;
	height: 250px;
	padding-bottom: 2%;
	

}

/* End section product  */


/* start section choose  */
.choose{
	width: 100%;
	height: auto;
	padding: 50px 0 ; 
	margin: 80px 0;
	background: #fbfbfb;
}
.choose i,.choose .part{
	float: left;
}

.choose p, .choose h2{
	margin: 0;
}

.choose i{
	position: relative;
	top: 20px;
	width: 20%;
	color: #7b7979;

}
.choose .part{
	
	width: 80%;
	

}
.choose h2{
	color: #a67ecf;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;

}
.choose p{
	color: #888;
	margin-top: 5%;
	font-size: 19px;

}

/* End section choose  */

/* start footer  */

footer{
	width: 100%;
	height: auto;
	padding: 20px 0 ;
}

footer p{
	font-size: 18px;
	color: #888;
}

footer i{
	margin: 5px;
	padding: 10px;
	background: #999;
	color: #fff;
	border-radius: 50%
}


/* end footer  */